{% extends 'recipe/base.html' %}
{% load static %}
{% block page-title %}Upload{% endblock %}
{% block uploadSelected %}selected{% endblock %}
{% block content %}
    <h2 class='section-title'>Edit Your Recipe</h2>
    <form id="edit-news-story" action="{% url 'recipe:editview' recipe_id=story.id %}" method="POST">
        {%  csrf_token %}
        <div id='recipe-title'><label><input type='text' name="title" value="{{ story.title }}"></label></div>
        <div id='main'>
            <div id='section1'>
                <div id='ingredients'>
                    <h3>Ingredients</h3>
                    <div id='ing'>
                        <div><button class='clear' type='reset'>Clear</button></div>
                        <div id='add-ingredients'>
                            {% for i in story.ingredients %}
                            <label><input type='text' name="ingredients" class="ingredientinput" value="{{ i }}"></label>
                            {% endfor %}
                            <div id='upload-ing'><button id='ingredients-button-minus' type='button'>-</button><button id='ingredients-button-add' type='button'>+</button></div>
                        </div>
                    </div>
                </div> <!-- ingredients -->
                <div id='nutrition'>
                    <h3>Nutrition</h3>
                    <div id='nutrition-sec'>
                        <div><button class='clear' type='reset'>Clear</button></div>
                        <table id='nutrition-table'>
                            <tr>
                                <th>Ingredient</th>
                                <th>Cal</th>
                                <th>Carbs</th>
                                <th>Fat</th>
                                <th>Protein</th>
                            </tr>
                            
                            {% for i in story.nutrition %}
                                <tr class="trEdit">
                                    <td><input type='text' name="nutritionName" value="{{ i.name }}"></td>
                                    <td><input type='number' name="nutritionCal"  value="{{ i.calories }}"></td>
                                    <td><input type='number' name="nutritionCarb" value="{{ i.carbs }}"></td>
                                    <td><input type='number' name="nutritionFat" value="{{ i.fat }}"></td>
                                    <td><input type='number' name="nutritionProtein" value="{{ i.protein }}"></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div id='upload-nut'><button id='nutrition-button-minus' type='button'>-</button><button id='nutrition-button-add' type='button'>+</button></div>
                </div> <!-- nutrition -->
            </div><!-- section 2 -->
            <div id='section2'>
                <h3>Instructions</h3>
                <div id='instruction-text'>
                    <div><button class='clear' type='reset'>Clear All</button></div>
                    <br>
                    <div id='ins-input'>
                        <label><input class='input-box' name="source" value="{{ story.source }}"></input></label>
                        <label><input class='input-box' name="instructions" value="{{ story.instructions.0 }}"></label>
                        <label><input class='input-box' name="instructions" value="{{ story.instructions.1 }}"></label>
                        <label><input class='input-box' name="instructions" value="{{ story.instructions.2 }}"></label>
                        <label id='step'></label>
                        <p><strong>Steps</strong></p>
                        <div class='paragraph'>
                            {% for i in story.instructions %}
                                {% if forloop.counter > 3 %}
                                    <label><input class='input-box' name="instructions" value="{{ i }}"></label>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div id='upload-ins'><button id='instructions-button-minus' type='button'>-</button><button id='instructions-button-add' type='button'>+</button></div>
                    </div>
                </div>
            </div><!-- section 2 -->
            <div id='section3'>
                <div id='gallery'>
                    <h3>Gallery</h3>
                    <div id='gallery-elements'>
                        <div><button class='clear' type='reset'>Clear</button></div>
                        <img src='{% static story.gallery %}'> <!-- https://everythingzoomer.com/lifestyle/food-drink-entertaining/2015/01/15/dish-up-curried-chicken-potatoes-carrots/ -->
                        <div id='upload-gallery'><input type='file' id='file-input'></div>
                        <div id='upload-gal'><button type='button'>-</button><button id='gallery-button' type='button'>+</button></div>
                    </div>
                </div>
            </div><!-- section 3 -->
        </div>
        <div id="submission">
            <p><strong>All fields beside gallery must be filled! Each clear button only clears its own section.</strong></p>
            <div id="buttons">
                <button>Upload</button>
                <button>Save</button>
                <button>Reset All</button>
            </div>
        </div><!-- submission -->
    </form>
{% endblock %}